@page
@model Covid_Alert.Pages.IndexModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.statesInfo.First().State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statesInfo.First().Positive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statesInfo.First().Recovered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statesInfo.First().Death)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.statesInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recovered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Death)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
